.login-wrapper h1  {
    color: rgb(255, 94, 0);
}

.login {
    background-color: rgb(255, 94, 0) !important;
}

.login-wrapper {
    width: 300px;
    border: 1px solid rgb(255, 94, 0);
    margin: 0 auto;
    box-shadow: 10px 5px 5px rgb(255, 94, 0);
}

.hide {
    display: none;
}

.forgotten-password {
    margin-top: 10px;
    background: none;
    border: none;
    color: var(--secondaryColor);
    cursor: pointer;
}

.no-account {
    display: block;
    margin-bottom: 10px;
    color: var(--secondaryColor);
}