.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

.home-header span {
  color: var(--secondaryColor);
}

.home-actions {
  margin: 30px 0;
  display: flex;
  gap: 20px;
}


.home-features {
  margin-top: 40px;
  text-align: left;
}

.home-features ul {
  list-style-type: none;
  padding: 0;
}

.home-features li {
  margin: 10px 0;
  font-size: 1.1rem;
}

.home-footer {
  margin-top: 60px;
  font-size: 0.9rem;
  color: #666;
}


ul {
    display: flex;
    flex-direction: column;
}