.reset-wrapper h1  {
    color: rgb(255, 94, 0);
}

.reset {
    background-color: rgb(255, 94, 0) !important;
}

.reset-wrapper {
    width: 300px;
    border: 1px solid rgb(255, 94, 0);
    margin: 0 auto;
    box-shadow: 10px 5px 5px rgb(255, 94, 0);
}

#resetForm {
    display: flex;
    flex-direction: column;
    
}


#resetForm > * {
    width: 200px;
    margin: 0 auto;
}
